body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{ 
    margin: 50px auto 0 auto;
    font-size: 5.625rem; /*16px == 100% || 1em*/
font-family: 'Sacramento', cursive;
    color: black;
    line-height: 2;
}

h2{
    font-weight: normal;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top{
    background-color: #40DFEF;
    position: relative; /*need to make it realtive otherwise absoulte will be from body not div*/
    padding-top: 100px;
}

.middle{
    
}

.bottom{
    color: #11999E;
}

.pro{
    text-decoration: underline;
}

.b_cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.t_cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.img_1{
    width: 25%;
    height: 25%;
}

.img_2{
    width: 25%;
    float:left;
    margin-right: 30px;
}

.img_3{
    width: 25%;
    height: 50%;
    float: right;
    margin-left: 30px;
}